[submodule "tools/flextGL"]
	path = src/thirdparty/flextGL
	url = git@github.com:ginkgo/flextGL.git
[submodule "tools/Remotery"]
	path = src/thirdparty/Remotery
	url = git@github.com:Celtoys/Remotery.git
