[submodule "tools/flextGL"]
	path = src/thirdparty/flextGL
	url = git@github.com:ginkgo/flextGL.git
[submodule "tools/Remotery"]
	path = src/thirdparty/Remotery
	url = git@github.com:Celtoys/Remotery.git
[submodule "src/thirdparty/glfw"]
	path = src/thirdparty/glfw
	url = git@github.com:glfw/glfw.git
[submodule "src/thirdparty/loguru"]
	path = src/thirdparty/loguru
	url = git@github.com:emilk/loguru.git
[submodule "src/thirdparty/EASTL"]
	path = src/thirdparty/EASTL
	url = git@github.com:electronicarts/EASTL.git
