/include
/lib
/obj
/bin
*.suo
*.sdf
*.sln
/log
*.log
*.a
*.orig
thirdparty_build_flags.lua

projects/premake/conanpremake.lua
projects/conan/conaninfo.txt
projects/premake/generated_project